body {
  background-image: url(FinalProjectImages/woodland-forest-trees-dirt-road-fallen-leaves-greenery-3840x2160-3518.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 9999;
}

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

nav ul li {
  display: inline-block;
  margin: 0 -4px;
  width: 200px;
}

nav ul li a {
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

nav ul li a:active {
  background-color: blue;
}
#gitlogo {
  width: 50px;
  height: 50px;
}
img {
  width: 300px;
  height: 300px;
}
