body {
  background-image: url(FinalProjectImages/woodland-forest-trees-dirt-road-fallen-leaves-greenery-3840x2160-3518.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Shadows Into Light", cursive;
}

p {
  font-size: larger;
  font-family: "Oxygen", sans-serif;
}

h2 {
  border-bottom: 4px solid;
}

nav {
  background-color: black;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 9999;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 16px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: x-large;
  color: white;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

nav ul li a:active {
  background-color: yellow;
}
#gitlogo {
  width: 50px;
  height: 50px;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 5%;
  margin: auto;
}
.card {
  width: 65%;
  margin: auto;
}
.card img {
  width: 100%;
  margin: auto;
}
#formDiv {
  width: 50%;
}
@media screen and (max-width: 450px) {
  .card {
    width: 100%;
    margin: auto;
  }
  .card img {
    width: 100%;
    margin: auto;
  }
  #formDiv {
    width: 95%;
  }
}
